

*
{
    padding:0;
}

#LIFE_IN_CUBA
{
    background-color: #2C2E43;
}

.main-section h1
{
    color:crimson;
}


#LIFE_IN_ICELAND
{
    background-color:#595260;
}


#LIFE_IN_ISRAEL
{
    background-color:#B2B1B9 ;
}

#LIFE_IN_ARMENIA
{
    background-color:#FFD523;
}

#LIFE_IN_BRAZIL
{
    background-color:#71EFA3;
}

.main-section
{
    width: 100vh;
}
img
{
    width: 400px;
    height: 400px;
}


#main-doc {
    position: absolute;
    padding: 5px;
    left: 200px;
    margin-bottom: 110px;
  }



#navbar_border 
{
    list-style: none;
}

#navbar_border li
{
    margin-bottom: 60px;
    width: 100%;
    border-top: 3px solid black;
}


#navbar
{
    position: fixed;
    width: 50%;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    border-color: black;
    background-color: yellow;
    border-right: solid;
    font-family: lobster;
    font-size: 23px;
}

@media only screen and(max-width: 600px)
{
    #navbar
    {
        width: 100%;
    }
    
}

