

*
{
    padding:0;
    margin: 5px;
}

body
{
    background-color: black;
}
#LIFE_IN_CUBA
{
    background-color: #2C2E43;
    width: 100%;
}


/*#LIFE_IN_CUBA .general_information
{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Flag_of_Cuba.svg/1200px-Flag_of_Cuba.svg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}
*/



.main-section h1
{
    color:crimson;
    display: block;
    width: 300px;
    margin: 0px;
}


#LIFE_IN_ICELAND
{
    background-color:#595260;
    width: 100%;
}


#LIFE_IN_ISRAEL
{
    background-color:#B2B1B9;
    width: 100%;
}

#LIFE_IN_ARMENIA
{
    background-color:#FFD523;
    width: 100%;
}

#LIFE_IN_BRAZIL
{
    background-color:#71EFA3;
    width: 100%;
}

.main-section
{
    display: flex;
    width: 100vh;
}
.country-img
{
    flex-grow: 10;
    width: 385px;
    height: 250px;
    padding-left: 380px;
    margin-top: -25px;
}


.general_information
{
    list-style: none;
    display: inline-block;
}

.flag-img
{
    width: 70px;
    height: 30px;
}


#main-doc {
    padding-left: 200px;
    left: 200px;
  }



#navbar_border 
{
    list-style: none;
}

#navbar_border li
{
    margin-bottom: 60px;
    width: 100%;
    border-top: 3px solid black;
}


#navbar
{
    position: fixed;
    width: 50%;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    border-color: black;
    background-color: yellow;
    border-right: solid;
    font-family: lobster;
    font-size: 23px;
}

@media only screen and(max-width: 600px)
{
    #navbar
    {
        width: 100%;
    }
    
}

